<div class="container">
	
		<div class="heading text-center">
			<h1 class="">
				Image to Text Using OCR
			</h1>
			<h6>Optical Character Recognition</h6>
		</div>
	<div class="row">
		<%= form_tag "/", class: "form-control" do %>
			<label for="url">Image URL</label>
			<%= text_field_tag :url, "", class: "form-control"%>
			<%= submit_tag "Submit", class: "submit btn btn-right btn-primary" %>
		<% end %>
	</div>
	</br>	
	<br>
	<div class="row">
		<div class="col-lg-5">
			<% if !@result.empty? && !@result.nil?%>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td><b>Name</b></td>
							<td><%= @result.slice((@result.index('MR.')+4 )..(@result.index('Dr')-2)).tr("0-9", "").strip if @result.index('MR.') && @result.index('Dr')%></td>
						</tr>
						<tr>
							<td><b>Age</b></td> <td><%= @result.scan(/(\d*\s(Years))/).flatten.first %></td>
						</tr>
						<tr>
							<td><b>Test type</b></td>
							<td><%= !@result.scan(/((TEST NAME)\s\w*)/).flatten.first.nil? ? @result.scan(/((TEST NAME)\s\w*)/).flatten.first.split(" ").last : "NOT FOUND" %></td>
						</tr>
						<tr>
							<td><b>Regn No:</b></td>
							<td><%= @result.scan(/(\d*\s(Dr.))/).flatten.first.split(" ").first rescue nil %></td>
						</tr>
						<tr>
							<td><b>Ref by</b></td>
							<td><%= @result.scan(/((Dr.)(\s[A-Z|\s]*))/).flatten.first.split(" ")[0..-2].join(" ") rescue nil %></td>
						</tr>
						<tr>
							<td><b>Sample Type</b></td>
							<td><%= @result.scan(/((Dr.)(\s[A-Z|\s]*[a-z]*))/).flatten.first.split(" ").last rescue nil%></td>
						</tr>
						<tr>
							<td><b>Sex</b></td>
							<td><%= @result.scan(/(Male|Female)/).flatten.first rescue nil%></td>
						</tr>
						<tr>
							<td><b>Regn Center</b></td>
							<td><%= @result.scan(/(Years\s\w*)/).flatten.first.split(" ").last rescue nil%></td>
						</tr>
						<tr>
							<td><b>Serum Status</b></td>
							<td><%= @result.scan(/(RESULT\s\w*)/).flatten.first.split(" ").last rescue nil %></td>
						</tr>
						<tr>
							<td><b>Triglycerides</b></td>
							<td><%= @result.scan(/(RESULT\s\w*((\s*\d\.?)*))/).flatten[1].split(" ")[0] rescue nil %></td>
						</tr>
						<tr>
							<td><b>Total Cholesterol</b></td>
							<td><%= @result.scan(/(RESULT\s\w*((\s*\d\.?)*))/).flatten[1].split(" ")[1] rescue nil%></td>
						</tr>
						<tr>
							<td><b>LDL Cholesterol</b></td>
							<td><%= @result.scan(/(RESULT\s\w*((\s*\d\.?)*))/).flatten[1].split(" ")[2] rescue nil%></td>
						</tr>
						<tr>
							<td><b>HDL Cholesterol</b></td>
							<td><%= @result.scan(/(RESULT\s\w*((\s*\d\.?)*))/).flatten[1].split(" ")[3] rescue nil%></td>
						</tr>
						<tr>
							<td><b>VLDL</b></td>
							<td><%= @result.scan(/(RESULT\s\w*((\s*\d\.?)*))/).flatten[1].split(" ")[4] rescue nil%></td>
						</tr>
						<tr>
							<td><b>Total Cholesterol/HDL Cholesterol ratio</b></td>
							<td><%= @result.scan(/(RESULT\s\w*((\s*\d\.?)*))/).flatten[1].split(" ")[5] rescue nil%></td>
						</tr>
						<tr>
							<td><b>LDL Cholesterol/HDL Cholesterol ratio</b></td>
							<td><%= @result.scan(/(RESULT\s\w*((\s*\d\.?)*))/).flatten[1].split(" ")[6] rescue nil%></td>
						</tr>
					</tbody>
				</table>
			<% end %>
		</div>	
		<div class="col-lg-7">
			<%= image_tag(@image_url, class: "report-img") rescue nil%>
		</div>
	</div>
	<div class="row">
		</br>
			<%= @result %>
	</div>
</div>
